hr {
  background-color: var(--clr-main);
  background-image: linear-gradient(
    to right,
    var(--clr-bg),
    var(--clr-accent-light),
    var(--clr-bg)
  );
  border: none;
  height: 0.125rem;
  margin-bottom: 2vmin;
  margin-top: 2vmin;
}
