.pill {
  border: 1px solid var(--clr-decent);
  border-radius: 0.25em;
  padding: 0.25em;

  &.-p-dark {
    background-color: var(--clr-dark);
    color: var(--clr-light);
  }

  &.-p-light {
    background-color: var(--clr-light);
    color: var(--clr-dark);
  }

  &.-p-accent {
    background-color: var(--clr-bg);
    color: var(--clr-accent);
  }
}
