---
layout: 'feed'
permalink: '/around-the-web/feed.xml'
eleventyExcludeFromCollections: true
collection: aroundTheWeb
metadata:
    title: 'ovl.design » around the web'
    subtitle: 'links from around the web'
    feedID: '/around-the-web'
---

{% set lastUpdated = collections.aroundTheWeb | getNewestCollectionItemDate | dateToRfc3339 %}

{%- for post in collections.aroundTheWeb -%}
  {% set absolutePostUrl %}{{ post.data.permalink | absoluteUrl(site.baseURL) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <summary type="html">{{ post.data.intro }}</summary>
    <content type="html">
      {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}
    </content>
  </entry>
{%- endfor %}