<ol class="lastfm-items">
  {% for album in lastfm.album %}
  <li>
    <article class="lastfm-item">
      {% if album.image %}
        {% generateImageHtml album.image, '{{ album.artist.name }} – {{ album.name }}', '4rem' %}
      {% else %}
        <div class="lastfm-item__placeholder"></div>
      {% endif %}
      <h4 class="lastfm-item__title sr-only">
        {{ album.artist.name }} – {{ album.name }}
      </h4>
      <a
        href="{{ album.url }}"
        aria-label="{{ album.artist.name }} – {{ album.name }}"
      ></a>
    </article>
  </li>
  {% endfor %}
</ol>
