.archive-header {
  --gradient-bottom-offset: calc(100% - 1rem);
  --fleuron-bottom-offset: 0.66rem;

  margin-bottom: 5vh;
  min-height: 25vh;
  padding-bottom: 5vh;
  padding-left: 4vmin;
  padding-right: 4vmin;
  padding-top: 10vh;
  text-align: center;

  @media (min-width: 37.5rem) {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 50vh;
    justify-content: center;
    min-height: 13.75rem;
  }
}
