.icon-link {
  align-content: center;
  display: inline-flex;
  font-weight: bold;
  padding: 0.25em;
  text-decoration: none;
  white-space: nowrap;
}

.icon-link:hover {
  text-decoration: underline;
}

.icon-link .material-design-icon {
  display: contents;
}
