.main-grid-content {
  display: grid;
  grid-template-columns: var(--content-grid-columns);
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-width: calc(44 * var(--step-0));

  & > * {
    grid-column: var(--content-grid-placement, main);
  }

  & + & {
    margin-top: var(--space-m);
  }
}
