.pagination-navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.pagination-navigation__headline {
  flex: 0 0 100%;
  width: 100%;
}

.pagination-navigation__section {
  flex: 0 1 12rem;
}
