.site-footer {
  display: flex;
  flex-flow: row wrap;
  gap: var(--padding-base);
  margin-top: 10vh;
  padding-bottom: 5vh;
  padding-left: var(--padding-base);

  & > * {
    flex: 0 1 320px;
  }
}
