.site-footer {
  display: flex;
  flex-flow: row wrap;
  gap: var(--padding-base);
  margin-top: calc(3 * var(--padding-base));
  padding-bottom: calc(2 * var(--padding-base));
  padding-left: var(--padding-base);

  & > * {
    flex: 0 1 var(--footer-flex-base, 20rem);
  }

  & > *:not(:first-child) {
    --footer-flex-base: max-content;
  }
}
