.terminal-row {
  & + & {
    margin-top: var(--space-xs);
  }

  h2 {
    font-family: var(--fonts-mono);
    font-size: var(--step-0);
    font-weight: normal;
  }

  & > * + * {
    margin-top: var(--space-xxs);
  }
}

.terminal-row__path {
  color: var(--clr-accent);
  opacity: 0.66;
}

.terminal-row__output {
}

.terminal-row__input {
  position: relative;

  &::before {
    color: var(--clr-red);
    content: '❯ ';
  }
}
