.webmention-likes {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 2rem);

  li {
    aspect-ratio: 1;
    border-radius: 50%;
    height: 2rem;
    overflow: hidden;
  }
}