.webmention-likes {
  display: grid;
  grid-gap: var(--space-xs);
  grid-template-columns: repeat(auto-fill, var(--space-l));

  li {
    aspect-ratio: 1;
    border-radius: 50%;
    height: var(--space-l);
    overflow: hidden;
  }
}
