.now {
  margin-inline: auto;
  max-width: var(--content-width-large);
  padding-block-start: var(--padding-base);
  padding-inline: var(--padding-base);
}

.now-section {
  & + & {
    margin-top: var(--space-xl);
  }
}
