@import 'eleventy-plugin-embed-tweet/tweet.css';
@import '@inframanufaktur/eleventy-plugin-embed-mastodon/post.css';

.mastodon-embed {
  --pme-description-display: block;
  --pme-description-width: min(55vw, 29rem);

  margin: var(--space-s) 0;

  & p + p {
    text-indent: 0;
  }
}

.tweet-images img {
  max-height: unset;
}

.atw-post {
  @media (min-width: 800px) {
    display: grid;
    gap: calc(2 * var(--padding-base));
    grid-template-columns: [aside-start] min(45vw, 30ch) [aside-end main-start] 1fr [main-end];
    margin-right: var(--padding-base);
    padding-top: var(--padding-base);
  }

  & > * {
    grid-column: main;
  }
}

.atw-column-wrapper {
  grid-column: aside;
  margin-bottom: var(--padding-base);
  padding: var(--padding-base);

  @media (min-width: 1034px) {
    align-self: start;
    position: sticky;
    top: calc(var(--layout-header-height) + var(--padding-base));
  }
}

.atw-post-header {
  margin-bottom: calc(0.5 * var(--padding-base));
}

.atw-post-meta {
  font-size: smaller;

  & * {
    font-size: inherit;
  }

  & > * + * {
    margin-top: 0.5rem;
  }
}

.atw-post__intro {
  text-align: center;
}

.atw-post__claim {
  --gradient-bottom-offset: calc(100% - 0.5rem);
  --fleuron-bottom-offset: 0.06rem;

  font-style: italic;
  margin-bottom: var(--space-l);
  padding: 0 2vmin var(--space-l);
  /* font-size: var(--step-2); */
}

.embeddable-buttondown-form {
  --content-grid-placement: full;

  border: 1px solid var(--clr-fg);
  border-radius: var(--conditional-border-radius);
  margin-top: var(--padding-base);
  padding: var(--padding-base);

  label {
    display: block;
  }

  p {
    text-indent: none;
  }

  input {
    background-color: transparent;
    border: 2px solid var(--clr-fg);
    border-radius: 0.25rem;
    color: inherit;
    font: inherit;
    padding: calc(0.25 * var(--padding-base));
  }

  [type='submit'] {
    appearance: none;
    background-color: var(--clr-accent);
    border: none;
    color: var(--clr-bg);
    margin-left: calc(0.25 * var(--padding-base));
  }

  .form-section {
    margin: calc(0.25 * var(--padding-base)) 0;
  }
}
