@import './0-base/_img.pcss';
@import './0-base/_figure.pcss';
@import 'eleventy-plugin-embed-tweet/tweet.css';
@import '@inframanufaktur/eleventy-plugin-embed-mastodon/post.css';

.mastodon-embed {
  --pme-description-display: block;
  --pme-description-width: min(55vw, 29rem);

  margin: 1rem 0;

  & p + p {
    text-indent: 0;
  }
}

.tweet-images img {
  max-height: unset;
}

.atw-post {
  max-width: 120ch;
  padding: var(--padding-base);

  @media (min-width: 800px) {
    display: grid;
    gap: calc(2 * var(--padding-base));
    grid-template-columns: min(45vw, 30ch) 1fr;
  }
}

.atw-column-wrapper {
  margin-bottom: 2vmin;

  @media (min-width: 1034px) {
    align-self: start;
    position: sticky;
    top: calc(var(--layout-header-height) + var(--padding-base));
  }
}

.atw-post-header {
  margin-bottom: 2vmin;

  h1 {
    font-size: var(--type-xlarge);
    margin-bottom: 0.5rem;
  }
}

.atw-post-meta {
  font-size: smaller;

  & * {
    font-size: inherit;
  }

  & > * + * {
    margin-top: 0.5rem;
  }
}

.atw-post__intro {
  --gradient-bottom-offset: calc(100% - 0.5rem);
  --fleuron-bottom-offset: 0.06rem;

  font-style: italic;
  margin-bottom: 2rem;
  padding: 0 2vmin 2rem;
  /* font-size: var(--type-medium); */
}

.text__body {
  max-width: max(75vw, 75ch);
}

.atw-post__collections {
  grid-column-end: -1;
  margin-top: 4vmin;
}

.embeddable-buttondown-form {
  border: 1px solid var(--clr-fg);
  border-radius: 0.25rem;
  margin-left: calc(-1 * var(--padding-base));
  margin-right: calc(-1 * var(--padding-base));
  margin-top: var(--padding-base);
  padding: var(--padding-base);

  label {
    display: block;
  }

  p {
    text-indent: none;
  }

  input {
    background-color: transparent;
    border: 2px solid var(--clr-fg);
    border-radius: 0.25rem;
    color: inherit;
    font: inherit;
    padding: calc(0.25 * var(--padding-base));
  }

  [type='submit'] {
    appearance: none;
    background-color: var(--clr-accent);
    border: none;
    color: var(--clr-bg);
    margin-left: calc(0.25 * var(--padding-base));
  }

  .form-section {
    margin: calc(0.25 * var(--padding-base)) 0;
  }
}
