@import './0-base/_img.pcss';
@import './0-base/_figure.pcss';
@import 'eleventy-plugin-embed-tweet/tweet.css';

.atw-post {
  display: grid;
  max-width: 120ch;
  padding: var(--padding-base);

  @media (min-width: 1034px) {
    gap: var(--padding-base);
    grid-template-columns: 30ch 1fr;
  }
}

.atw-column-wrapper {
  margin-bottom: 2vmin;

  @media (min-width: 1034px) {
    align-self: start;
    position: sticky;
    top: calc(var(--layout-header-height) + var(--padding-base));
  }
}

.atw-post-header {
  margin-bottom: 2vmin;

  h1 {
    font-size: var(--type-xlarge);
    margin-bottom: 0.5rem;
  }
}

.atw-post-meta {
  font-size: smaller;

  & * {
    font-size: inherit;
  }

  & > * + * {
    margin-top: 0.5rem;
  }
}

.atw-post__intro {
  --gradient-bottom-offset: calc(100% - 0.5rem);
  --fleuron-bottom-offset: 0.06rem;

  font-style: italic;
  margin-bottom: 2rem;
  padding: 0 2vmin 2rem;
  /* font-size: var(--type-medium); */
}

.text__body {
  max-width: max(75vw, 75ch);
}

.atw-post__collections {
  margin-top: 4vmin;
}
