.notes-content {
  max-width: var(--content-width-medium);
}

.note-header {
  margin-top: var(--padding-base);

  .main-headline {
    color: var(--clr-fg);
  }
}

.note {
  margin: var(--padding-base) auto;
  max-width: 75ch;

  .warning {
    --bg-opacity: 0.6;
    --content-grid-placement: full;

    background-color: rgba(255, 255, 0, var(--bg-opacity));
    border-radius: var(--conditional-border-radius);
    margin: var(--padding-base) 0;
    padding: var(--padding-base);

    @mixin dark-mode {
      --bg-opacity: 1;

      color: var(--clr-dark);
    }
  }
}
