@import './organisms/_code.pcss';
@import './organisms/_webmentions.pcss';

h1 {
  font-family: var(--fonts-headline);
  font-size: var(--type-large);
  font-weight: bold;
}

.md-content :is(h2, h3) {
  position: relative;

  @media (min-width: 45rem) {
    --bfr-position: absolute;
  }

  &:not([class]) {
    &::before {
      content: var(--bfr-content);
      display: block;
      left: 0;
      opacity: 0.5;
      margin-inline-end: 1ch;
      position: var(--bfr-position, relative);
      top: 0;
      transform: translateX(-2rem);
      width: auto;
    }
  }

}

h2 {
  --bfr-content: '##';

  font-weight: bold;
}

h3 {
  --bfr-content: '###';

  font-style: italic;
  font-weight: normal;
}

.note {
  margin: var(--padding-base) auto;
  max-width: 75ch;

  .warning {
    --bg-opacity: 0.6;

    background-color: rgba(255, 255, 0, var(--bg-opacity));
    border-radius: 0.5rem;
    margin: 2vmin -2vmin;
    padding: 2vmin;

    @mixin dark-mode {
      --bg-opacity: 1;

      color: var(--clr-dark);
    }
  }
}

.note-header {
  margin: var(--padding-base) 0;
}

.md-content p {
  margin-block-start: var(--size-3);
}

.md-content pre {
  --clr-accent: #28caf0;

  background-color: #2b2b2b;
  border-radius: 0.25em;
  font-family: var(--fonts-mono);
  font-size: 85%;
  grid-column: full;
  line-height: 1.7;
  margin-top: 2vmin;
  overflow: auto;
  padding: 2vmin var(--padding-base);
  width: 100%;
}

.collections {
  margin-block-start: var(--size-7);
}

.change {
  display: grid;
  gap: 1rem;
  grid-template-columns: 10ch 1fr;

  & + & {
    margin-block-start: var(--size-4);
  }
}

.change__time {
  opacity: 0.8;
}

.change__title {
  font-style: normal;
  font-weight: bold;
  margin-block-start: 0;

  a {
    color: var(--clr-fg);
  }
}
