<section
  id="changelog"
  class="main-grid-content text-meta-box"
  aria-labelledby="changelogHdl"
>
  <h2
    class="type-all-small-caps"
    id="changelogHdl"
  >
    Changelog
  </h2>
  <ul class="changes">
    {% for c in changes %}
      <li class="change">
        <time
          class="change__time"
          datetime="{{ c.date }}"
        >
          {{ c.date | displayDate('short') }}
        </time>
        <h3 class="change__title">
          <a href="{{ c.hash | githubCommit }}">{{ c.message }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</section>