<section
  class="main-grid-content webmentions"
  aria-labelledby="hdl-img-credit"
>
  <h2
    class="type-all-small-caps"
    id="hdl-img-credit"
  >
    Title Image Credit
  </h2>
  <p><a href="{{ credit.source }}">{{ credit.name }}</a></p>
</section>
