<!DOCTYPE html>
<html lang="{{ site.locale }}">
  {% set metaTitle = site.title + ' « ' + site.description %}
  {% if title %}
    {% set metaTitle = title + ' « ' + site.title %}
  {% endif %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ metaTitle }}</title>
    <meta property="og:title" content="{{ metaTitle }}">
    <meta name="twitter:title" content="{{ metaTitle }}">

    <link rel="preconnect" href="https://static.owlish.dev"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#b00000">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#f8f2e3">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#f8f2e3">

    {% metaTags meta,
    post %}
    {% metaRobots %}
    {# <link rel="stylesheet" href="/css/main.css"> #}

    <link rel="preload" href="https://static.owlish.dev/fonts/bridge-subset/BridgeText-Bold-kern-latin.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://static.owlish.dev/fonts/bridge-subset/BridgeText-Regular-kern-latin.woff2" as="font" type="font/woff2" crossorigin>

    <script>
      if ("fonts" in document) {
        window.addEventListener('load', function () {
          var regular = new FontFace("Bridge Text", "url(https://static.owlish.dev/fonts/bridge-subset/BridgeText-Regular-hint-all.woff2) format('woff2'), url(https://static.owlish.dev/fonts/bridge-subset/BridgeText-Regular-hint-all.woff) format('woff')");
          var italic = new FontFace("Bridge Text", "url(https://static.owlish.dev/fonts/bridge-subset/BridgeText-Regular-Italic-hint-all.woff2) format('woff2'), url(https://static.owlish.dev/fonts/bridge-subset/BridgeText-Regular-Italic-hint-all.woff) format('woff')", {style: 'italic'});
          var bold = new FontFace("Bridge Text", "url(https://static.owlish.dev/fonts/bridge-subset/BridgeText-Bold-hint-all.woff2) format('woff2'), url(https://static.owlish.dev/fonts/bridge-subset/BridgeText-Bold-hint-all.woff) format('woff')", {weight: "700"});
          var head = new FontFace("Bridge Head", "url(https://static.owlish.dev/fonts/bridge-subset/BridgeHead-Bold-hint-all.woff2) format('woff2'), url(https://static.owlish.dev/fonts/bridge-subset/BridgeHead-Bold-hint-all.woff) format('woff')", {weight: "700"});

          Promise
            .all([bold.load(), regular.load(), italic.load(), head.load()])
            .then(function (fonts) {
              fonts.forEach(function (font) {
                document
                  .fonts
                  .add(font);
              });
            });

        })
      }
    </script>

    <style>
      {{css.customProperties | safe}}
    </style>
    <style>
      {{css.main | safe}}
    </style>
    {% if pageCSS %}
      <style>
        {{css[pageCSS] | safe}}
      </style>
    {% endif %}

    <link rel="alternate" href="/text/feed.xml" title="ovl.design » blog feed" type="application/atom+xml">
    <link rel="alternate" href="/around-the-web/feed.xml" title="ovl.design » around the web" type="application/atom+xml">

    <link rel="webmention" href="https://webmention.io/www.ovl.design/webmention"/>
    <link rel="pingback" href="https://webmention.io/www.ovl.design/xmlrpc"/>

    <meta property="x-website-version" content="{{ site.version }}"/>
  </head>
  <body class="{{ templateClass }}">
    <a href="#main" class="skip-link js-skip-link">{{ site.strings.skip_to_content }}</a>
    {% include "components/global/blm-banner.njk" %}
    {% if hideSiteNavigation !== true %}
      {% include "components/global/site-header.njk" %}
    {% endif %}
    {% block content %}{% endblock %}
    {% if usesBlock !== true %}
      {{ content | safe }}
    {% endif %}
    {% if hideSiteNavigation !== true %}
      {% include "components/global/site-footer.njk" %}
    {% endif %}
    <script type="module" src="/js/main.js"></script>
  </body>
</html>