{% extends 'layouts/base.njk' %}
{% set usesBlock = true %}

{% block content %}
  <main class="atw-post h-entry" id="main" tabindex="-1">
    <div class="atw-column-wrapper">
      <header class="atw-post-header">
        <h1 class="main-headline p-name">Around the Web</h1>
        <p>Issue No.&nbsp;{{ page.fileSlug }}</p>
      </header>
      <aside class="atw-post-meta">
        <p>Collected between {{ parsedDates.start | displayDate("short") }} and {{ parsedDates.publish | displayDate("short") }}. It discusses {{ sources.count }} links from {{ sources.distinct }} sources.</p>

        <nav aria-label="Follow Around the Web">
          <ul role="list">
            <li>
              <a href="/around-the-web/feed.xml">RSS Feed</a>
            </li>
            <li>
              <a href="https://buttondown.email/around-the-web">Newsletter</a>
            </li>
            <li>
              <a href="/around-the-web/">Archive</a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
    <section class="text__body e-content md-content">
      <p class="atw-post__intro u-floral-heart-gradient">{{ intro }}</p>
      <p>
        <small>Note: While the post is written in English, some links lead to articles in German.</small>
      </p>
      {{ content | safe }}
      <section aria-labelledby="hdl-collections">
        <h2 class="small-headline" id="hdl-collections">Collections</h2>
        <ul class="inline-list" role="list">
          {% for category in tags | getCategories | aToZ %}
            <li>
              <a
                href="{{ category | categoryPermalink(categoryBase) }}"
              >{{ category | displayCategory }}</a>
            </li>
          {% endfor %}
        </ul>
      </section>
    </section>
  </main>
{% endblock %}