<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ site.baseURL + metadata.feedID + '/feed.xml' }}" rel="self"/>
  <link href="{{ site.baseURL + metadata.feedID + '/' }}" rel="alternate"/>
  {% set iconUrl = site.baseURL + '/img/favicon/favicon-32x32.png' %}
  <icon>{{ iconUrl }}</icon>
  <updated>{{ collections[collection] | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.baseURL + metadata.feedID + '/' }}</id>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
    <uri>{{ site.baseURL }}</uri>
  </author>
  {{ content | safe }}
</feed>