{% extends 'layouts/base.njk' %}

{% set pageTitle = title + ' | Notes' %}
{% set usesBlock = true %}

{% block content %}
  <main id="main" class="note h-entry l-stack" tabindex="-1" lang={{ locale }}>
    <header class="note-header main-grid-content">
      <aside class="warning">This post is a note. It’s a collection of thoughts, and as such might be incomplete or even wrong. If you think it can be improved, contact me.</aside>
      <h1 class="p-name sub-headline">{{ title }}</h1>
      <p>Note started: {{ date | displayDate(short) }}</p>
      {% if state === 'frozen' %}
        This note is currently {{ state }}. I might get back to it later.
      {% elif state === 'done' %}
        <p>I consider this note done.</p>
      {% elif state === 'evolving' %}
        <p>I’m working on the topic of this note.</p>
        {% if changes %}
          <p>I updated it <a href="#changelog">{{ changes.length }} times</a>.</p>
        {% endif %}
      {% endif %}
    </header>
    <div class="e-content md-content main-grid-content" data-text-body>
      {{ content | safe }}
    </div>
    {% include "components/blog/webmentions.njk" %}
    <section class="main-grid-content">
      <h2 class="pagination-navigation__sub-headline type-all-small-caps">Filed under</h2>
      <ul role="list" class="inline-list">
        {% for collection in tags | getCategories %}
          <li>
            <a
              href="{{ collection | categoryPermalink(categoryBase) }}"
            >
              {{ collection | capitaliser }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
    {% if changes %}
      {% include "components/blog/changelog.njk" %}
    {% endif %}
  </main>
{% endblock %}