{% extends 'layouts/base.njk' %}

{% set usesBlock = true %}

{% block content %}
<main id="main" class="text" tabindex="-1">
  <header class="blog-header u-floral-heart-gradient">
    <div class="blog-header__inner">
      <h1 class="main-headline">{{ title }}</h1>
      <p class="text__subline">{{ subline }}</p>
    </div>
  </header>

  <div class="md-content main-grid-content">
    {{ content | safe }}
  </div>
</main>
{% endblock %}