{% extends 'layouts/base.njk' %}

{% set title = post.title %}
{% set usesBlock = true %}

{% set categoriesString = post
  .categories[0]
  .fields
  .title + ' —' if post
  .categories else 
    '' %}

{% block content %}
  <main id="main" class="text h-entry" tabindex="-1" lang={{ post.locale }}>
    <header class="text__header u-floral-heart-gradient">
      <h1 class="main-headline p-name">{{ post.title }}</h1>
      <p class="text__subline type-is-aside">
        {{ categoriesString }}
        <time
          datetime="{{ post.date }}"
          class="dt-published"
        >{{ post.date | displayDate }}</time>
      </p>
      {% if post.contentIntro %}
        <p class="text__intro p-summary">
          {{ post.contentIntro }}
        </p>
      {% endif %}
    </header>
    {% articleImage post.image %}
    <div class="text__body e-content">
      {{ content | safe }}
    </div>
    {% if hidePaginationNav !== true %}
      <section role="region" class="pagination-navigation text__pagination" aria-labelledby="pgntn-hdln">
        <h2 id="pgntn-hdln" class="pagination-navigation__headline">Other things I’ve written</h2>
        {% paginationItem 'previous',
        pagination.href.previous,
        articles.ownPosts %}
        {% paginationItem 'next',
        pagination.href.next,
        articles.ownPosts %}
      </section>
    {% endif %}
  </main>
{% endblock %}