{% extends 'layouts/base.njk' %}

{% set pageTitle = title + ' | Text' %}
{% set usesBlock = true %}

{% block content %}
  <main id="main" class="text h-entry l-stack" tabindex="-1" lang={{ locale }}>
    {% include "components/blog/blog-header.njk" %}
    <div class="main-grid-content e-content md-content" data-text-body>
      {{ content | safe }}
    </div>
    {% include "components/blog/webmentions.njk" %}
    {% if tags.length %}
      <section
        role="region"
        class="text__pagination main-grid-content"
        aria-labelledby="pgntn-hdln"
      >
        <h2 class="pagination-navigation__sub-headline type-all-small-caps">Filed under</h2>
        <ul class="inline-list" role="list">
          {% for tag in tags | getCategories %}
            <li>
              <a
                href="{{ tag | categoryPermalink(categoryBase) }}"
              >
                {{ tag | capitaliser }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
    {% if changes %}
      {% include "components/blog/changelog.njk" %}
    {% endif %}
  </main>
{% endblock %}