---
layout: 'layouts/base.njk'
title: 'Home'
permalink: '/'
templateClass: 'tmpl-home'
navClass: 'tmpl-home__nav'
hideSiteNavigation: true
hideBreadcrumb: true
pageCSS:
  - home
---

{% include 'components/nav.njk' %}

<main id="main" class="content-home" tabindex="-1">
  <h1 class="main-headline">Hello.</h1>
  <p>I am Oscar. I design for web and print. I care about accessibility, usability &amp; performance. I am typophile. I don’t specialise in pop art. I like to think. And owls.</p>
  <p>I write <a href="/around-the-web/">Around the Web</a>, a digest of links worth reading.</p>
  <p>During office hours, you can find me building frontend interfaces at <a href="https://www.deepl.com/">DeepL</a>.</p>
  <p>If you want to get in touch, <a href="mailto:o@ovl.design" title="Oscar’s E-mail">drop me a line</a> (<a href="/files/publickey.o@ovl.design-6753ef049b037f585a5b1c01c746433784696909.asc">PGP Key</a>).</p>
  <nav class="vertical-nav" aria-label="Social profiles">
    {% socialNavIcons navigation.social %}
  </nav>
</main>