<header class="site-header">
  <div class="site-header__inner">
    {% inlineLogo 'site-header__logo' %}

    {% set navClass = 'header-nav' %}
    {% include 'components/nav.njk' %}
  </div>
</header>