<style>
  {{css.footer | safe}}
</style>
<footer class="site-footer">
  <section>
    <p>My name is Oscar. I write <a href="/code/">Code</a>. I design for web and print. I like owls. And this is my website.</p>

    <p hidden class="switch-button js-theme-switch">
      <i id="switch-label" class="switch-button__label">Theme</i>
      <button class="switch-button__button js-theme-switcher" role="switch" aria-labelledby="switch-label">
        <span class="switch-button__text -checked icon-button u-center pill -p-dark">
          {% baseIcon 'moon', {size: 18} %}
          Dark
        </span>
        <span class="switch-button__text -unchecked icon-button u-center pill -p-light">
          {% baseIcon 'sun', {size: 18} %}
          Light
        </span>
      </button>
      <button class="switch-button__button icon-button u-center pill -p-accent js-theme-switch-clear" hidden>
        {% baseIcon 'close', {size: 18} %}
        Clear preference
      </button>
    </p>
  </section>
  <nav class="vertical-nav" aria-label="Social profiles">
    {% socialNavIcons site.socialNavItems %}
  </nav>
  <nav class="vertical-nav" aria-label="Secondary">
    <ul class="vertical-nav__list" role="list">
      <li>
        <a href="/around-the-web/">Around the Web</a>
      <li>
        <a href="/imprint/">Imprint</a>
      <li>
        <a href="/colophon/">Colophon</a>
    </ul>
  </nav>
  <nav class="vertical-nav" aria-labelledby="hdl-footer-feeds">
    <h2 id="hdl-footer-feeds" class="type-small-caps" style="margin-top:0;">RSS Feeds</h2>
    <ul class="vertical-nav__list" role="list">
      <li>
        <a href="/text/feed.xml">Blog</a>
      <li>
        <a href="/around-the-web/feed.xml">Around the Web</a>
    </ul>
  </nav>
</footer>
{# {% inlineScript 'themeSwitch' | safe %} #}