figure {
  margin: 0.5rem 0;
}

figure figcaption {
  font-size: var(--step-0);
  font-style: italic;
  letter-spacing: 0.01em;
  padding-left: var(--padding-base);
  word-spacing: 0.01em;
}

figure:has(img[src$='.gif']) figcaption {
  max-width: 50%;
}
