<article class="code-card" aria-labelledby="code-{{ project.slug }}">
  {% set terminalPath = '~/dev/' + project.slug %}
  {% set baseCommand = 'echo' %}
  <div class="terminal-row">
    {% set command = baseCommand + ' $NAME' %}
    {% include './terminal-decorator.njk' %}
    <h2 id="code-{{ project.slug }}">{{ project.title }}</h2>
  </div>
  <div class="terminal-row">
    {% set command = baseCommand + ' $DESC' %}
    {% include './terminal-decorator.njk' %}
    <p class="terminal-row__output">{{ project.description }}</p>
  </div>
  <div class="terminal-row">
    {% set command = baseCommand + ' $LINKS' %}
    {% include './terminal-decorator.njk' %}
    <ul class="icon-list code-card__icons" aria-label="Detail links {{ project.title }}" role="list">
      <li class="icon-list__item">
        <a
          href="{{ project.website }}"
          class="icon-list__link icon-list__link--website"
          rel="noopener"
        >
          <span class="sr-only">
            {{ project.title }}
          </span>
          <span class="icon-list__link-text"> Website</span>
        </a>
      </li>
      <li class="icon-list__item">
        <a
          href="{{ project.sourceCode }}"
          class="icon-list__link icon-list__link--code"
          rel="noopener"
        >
          <span class="sr-only">
            {{ project.title }}
          </span>
          <span class="icon-list__link-text"> Source Code</span>
        </a>
      </li>
    </ul>
  </div>
</article>